[Desktop Entry]
Type=Application
Version=1.0
Name=Install FarmNerdOS
Comment=Plant this Seedling on your disk
Exec=/usr/local/bin/farmnerdos-install
Icon=calamares
Terminal=false
Categories=System;
